.home-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
}

.home-hero{
    text-align: center;
}

.home-hero h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.home-hero p{
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

.shop-btn{
    padding: 10px 20px;
    /* width: 100px; */
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.shop-btn:hover{
    background-color: #0056b3;
}