.productDetailsContainer{
    padding : 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productDetailsCard{
    display: flex;
    gap: 40px;
    max-width: 900px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}
.productImage img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.productInfo{
    flex: 1;
}

.productInfo h2{
    margin-bottom: 10px;
}

.productPrice{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.productDescription{
    margin: 15px 0;
    line-height: 1.6;
}

.productMeta{
    margin-top: 20px;
    color: #555;
}

.cartButton{
    padding: 15px 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}